<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="True Grit Abrasives,Sanding,Grinding"/>
    <meta name="keywords" content="True Grit, Abrasives,Sanding,Grinding"/>
    <title> Map Of Stations</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

</head>

<body>
    INDEX PAGE
    <div class="map" style="width: 800px;height: 500px" id="mapid" onload="mapBox()" ></div>
    <script th:inline="javascript">
        var map;
        function mapBox(){
            let accessToken = 'pk.eyJ1IjoiYXNoa2Fuem5nIiwiYSI6ImNraW9oNHhmMTAzOWwyc3BhN291YjdqNGEifQ.sB8DV9z4s05yNNvidoRl9w';
            mapboxgl.accessToken = accessToken;
            map = new mapboxgl.Map({
                container: 'mapid',
                style: 'mapbox://styles/mapbox/streets-v11',
                // style: 'mapbox://styles/mapbox/dark-v10',
                // style: 'mapbox://styles/mapbox/outdoors-v11',
                // style: 'mapbox://styles/mapbox/navigation-preview-day-v4',
                // center: [44.4998,40.1828],
                center: [51.306926141008866,35.74480428580317],
                zoom: 12
            });
            map.addControl(new mapboxgl.NavigationControl());
        }

        function addMarker(){
            fetch('/api/station/all')
                .then(response => response.json())
                .then(data => {
                    data.forEach(station =>{
                        new mapboxgl.Marker({color: 'red',scale:0.5})
                            .setLngLat([station.longitude,station.latitude])
                            .setPopup(new mapboxgl.Popup()
                                .setText(' ' + station.name + '  ' ))
                            .addTo(map);
                    })
                })
        }
        mapBox();
        addMarker();
    </script>
</body>
</html>