<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="True Grit Abrasives,Sanding,Grinding"/>
        <meta name="keywords" content="True Grit, Abrasives,Sanding,Grinding"/>
        <title> Map Of Stations</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
        <style type="text/css">
            .container {
                padding:20px;
                margin: 10px;
                max-width: 90vw;
            }
            .btn-success{
                margin-top: 10px;
            }
        </style>
    </head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Click on map to get all stations close to clicked point</h3>
            </div>
            <div class="col-lg-12">
                <h5>Click on marker to see station name</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"><div class="map" style="width: 100%;height: 600px" id="mapid" onload="mapBox()" ></div></div>
            <div class="col-lg-3" ><div id="result"></div></div>
        </div>
    </div>


    <script th:inline="javascript">
        var map;
        function mapBox(){
            let accessToken = 'pk.eyJ1IjoiYXNoa2Fuem5nIiwiYSI6ImNraW9';
            mapboxgl.accessToken = accessToken;
            map = new mapboxgl.Map({
                container: 'mapid',
                style: 'mapbox://styles/mapbox/streets-v11',
                // style: 'mapbox://styles/mapbox/dark-v10',
                // style: 'mapbox://styles/mapbox/outdoors-v11',
                // style: 'mapbox://styles/mapbox/navigation-preview-day-v4',
                center: [44.51322733748676,40.177935945724705],
                zoom: 13
            });
            map.addControl(new mapboxgl.NavigationControl());
            map.addControl(new mapboxgl.FullscreenControl());
        }

        function addMarker(){
            fetch('/api/station/all')
                .then(response => response.json())
                .then(data => {
                    data.forEach(station =>{
                        new mapboxgl.Marker({color: 'red',scale:0.5})
                            .setLngLat([station.longitude,station.latitude])
                            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                                .setHTML('<br></b><p>' + station.name + '</p>'))
                            .addTo(map);
                    })
                })
        }

        function getLatLon(){
            map.on('click', function (e) {
                console.log(e.lngLat)

                fetch('/api/station/find?lat='+e.lngLat.lat+'&lon='+e.lngLat.lng+'&rad=10').then(response => response.json()).then(data =>{
                    let table = '<table>';
                    data.forEach(s =>{
                        console.log(s)
                        table += '<tr><td>' + s.name + '</td><td>' + s.distance + ' km</td></tr>';
                    })
                    table += '</table>';
                    document.getElementById('result').innerHTML = table;
                })
            });
        }
        mapBox();
        addMarker();
        getLatLon();
    </script>
</body>
</html>